{% extends "blog/base.html" %}
{% block content %}
    <h1>Welcome to my Python Django Blog website!</h1>
    
    
    
    <h3>Hello! thanks for checking out my Django blog website. I'll start off with a little introduction of myself. My name is Dennis Devaras and I am someone who is passionate about working with technology, also interested in learning more and adding new skills to be the version of myself at the workplace.</h3>

    
    
    <h3>I'm enjoying learning different programming languages and how they work. Django is a great Python web framework that is used by many to create amazing websites. Please feel free to register for an account on the Django Blog website and test out the different features of the website!</h3>
{% endblock content %}

